In this notebook I use pandas and sqlite to coalesce the various pieces of data into a single database.

In [40]:
import pathlib

import sqlite3
import pandas as pd
import numpy as np

In [2]:
conn = sqlite3.connect('./Data/Run_190610.db')

In [3]:
raw_dir = pathlib.Path('/accounts/ekarakoy/PROJECTS/PRI/Data/Run01_20190610/Raw/')

In [4]:
df_abs = pd.read_csv(raw_dir / 'A_total_species.csv')

In [5]:
df_abs.head(2)

   band      Ehux      Pela      Pro_      Syn_      Tetr      Thal
0  a402  0.046076  0.067961  0.005656  0.029673  0.044615  0.095622
1  a404  0.045737  0.067158  0.005581  0.029349  0.044055  0.094832

In [6]:
# remove the 'a' in band
df_abs.band = df_abs.apply(lambda x: x['band'][1:], axis=1)

In [26]:
col_name_mapper = {'Ehux': 'Emiliania_huxleyi', 'Pela': 'Pelagomonas_calceolate',
                   'Pro_': 'Prochlorococcus_marinus', 'Syn_': 'Synechococcus',
                   'Pro': 'Prochlorococcus_marinus', 'Syn': 'Synechococcus',
                   'Tetr': 'Tetraselmis', 'Thal': 'Thalassiosira_oceanica',
                  }

In [8]:
df_abs.rename(columns=col_name_mapper, inplace=True)

In [9]:
df_abs.head()

,band,Emiliania_huxleyi,Pelagomonas_calceolate,Prochlorococcus_marinus,Synechococcus,Tetraselmis,Thalassiosira_oceanica
0,402,0.046076,0.067961,0.005656,0.029673,0.044615,0.095622
1,404,0.045737,0.067158,0.005581,0.029349,0.044055,0.094832
2,406,0.045399,0.066356,0.005506,0.029025,0.043495,0.094043
3,408,0.044532,0.064789,0.005575,0.028466,0.042336,0.092414
4,410,0.043607,0.063137,0.005661,0.027881,0.041110,0.090692

In [10]:
df_abs.to_sql('spp_absorption_spectra', conn, index=False)

In [12]:
df_c = pd.read_csv(raw_dir / 'C_total_species.csv')

In [13]:
df_c.head()

   band      Ehux      Pela      Pro_      Syn_      Tetr      Thal
0  c402  0.117706  0.183748  0.013677  0.062167  0.113121  0.211157
1  c404  0.116581  0.181489  0.013682  0.061141  0.111417  0.206599
2  c406  0.115456  0.179229  0.013688  0.060114  0.109714  0.202041
3  c408  0.114457  0.176926  0.013663  0.059053  0.108675  0.199463
4  c410  0.113473  0.174617  0.013634  0.057988  0.107710  0.197104

In [14]:
df_c.band = df_c.apply(lambda x: x['band'][1:], axis=1)
df_c.rename(columns=col_name_mapper, inplace=True)

In [15]:
df_c.head(2)

,band,Emiliania_huxleyi,Pelagomonas_calceolate,Prochlorococcus_marinus,Synechococcus,Tetraselmis,Thalassiosira_oceanica
0,402,0.117706,0.183748,0.013677,0.062167,0.113121,0.211157
1,404,0.116581,0.181489,0.013682,0.061141,0.111417,0.206599

In [16]:
df_c.to_sql('spp_attenuation_spectra', conn, index=False)

In [17]:
df_smpl = pd.read_csv(raw_dir / 'Samples01_mix_std_Rrs_mixedIOPs.csv')

In [18]:
df_smpl.head(2)

   band   sample1   sample2   sample3   sample4   sample5   sample6
0   413  2.438076  2.034605  1.544007  1.335612  1.151216  1.265875
1   415  2.402384  2.016595  1.538197  1.333720  1.146920  1.258342

In [19]:
df_smpl.to_sql('mixed_rrs_spectra', conn, index=False)

In [20]:
df_rrs = pd.read_csv(raw_dir / 'Species01_std_Rrs.csv')

In [21]:
df_rrs.head(2)

   band      Ehux     Pela       Pro       Syn      Tetr      Thal
0   413  1.651996  1.14552  2.717057  1.662198  1.453781  1.034611
1   415  1.631211  1.13757  2.664387  1.654245  1.461299  1.030149

In [27]:
df_rrs.rename(columns=col_name_mapper, inplace=True)

In [28]:
df_rrs.head(2)

,band,Emiliania_huxleyi,Pelagomonas_calceolate,Prochlorococcus_marinus,Synechococcus,Tetraselmis,Thalassiosira_oceanica
0,413,1.651996,1.14552,2.717057,1.662198,1.453781,1.034611
1,415,1.631211,1.13757,2.664387,1.654245,1.461299,1.030149

In [29]:
df_rrs.to_sql('spp_rrs_spectra', conn, index=False)

In [30]:
df_a_mix = pd.read_csv('./Data/Run01_20190610/Raw/Samples01_synthetic_mix_a.csv')

In [31]:
df_a_mix.head(2)

   band   sample1   sample2   sample3   sample4   sample5   sample6
0   402  0.009713  0.018840  0.038820  0.058182  0.079783  0.069670
1   404  0.009590  0.018608  0.038384  0.057595  0.079077  0.069065

In [32]:
df_a_mix.to_sql('mixed_absorption_spectra', conn, index=False, if_exists='replace')

In [33]:
df_c_mix = pd.read_csv('./Data/Run01_20190610/Raw/Samples01_synthetic_mix_c.csv')

In [34]:
df_c_mix.head(2)

   band   sample1   sample2   sample3   sample4   sample5   sample6
0   402  0.024236  0.048050  0.092226  0.137637  0.182953  0.164218
1   404  0.024078  0.047524  0.090826  0.135220  0.179407  0.161411

In [35]:
df_c_mix.to_sql('mixed_attenuation_spectra', conn, index=False, if_exists='replace')

In [37]:
df_mixing_proportions = pd.read_csv(raw_dir / 'Samples01_synthetic_mix_validation.csv')

In [38]:
df_mixing_proportions

  taxon  sample1  sample2  sample3  sample4  sample5  sample6
0  Ehux     0.00     0.00     0.00     0.05     0.10     0.35
1  Pela     0.03     0.10     0.15     0.07     0.08     0.09
2   Pro     0.91     0.71     0.12     0.05     0.00     0.00
3   Syn     0.01     0.03     0.48     0.10     0.00     0.00
4  Tetr     0.05     0.16     0.20     0.43     0.17     0.12
5  Thal     0.00     0.00     0.05     0.30     0.65     0.44

In [39]:
df_mixing_proportions = df_mixing_proportions.set_index('taxon').rename({'Ehux': 'Emiliania_huxleyi', 'Pela': 'Pelagomonas_calceolate',
                   'Pro': 'Prochlorococcus_marinus', 'Syn': 'Synechococcus',
                   'Tetr': 'Tetraselmis', 'Thal': 'Thalassiosira_oceanica',
                  }).reset_index()

In [41]:
df_mixing_proportions =  df_mixing_proportions.append(df_mixing_proportions.iloc[:, 1:].sum(axis=0),
                             ignore_index=True).replace(np.NaN, 'Total')

In [42]:
df_mixing_proportions

,taxon,sample1,sample2,sample3,sample4,sample5,sample6
0,Emiliania_huxleyi,0.00,0.00,0.00,0.05,0.10,0.35
1,Pelagomonas_calceolate,0.03,0.10,0.15,0.07,0.08,0.09
2,Prochlorococcus_marinus,0.91,0.71,0.12,0.05,0.00,0.00
3,Synechococcus,0.01,0.03,0.48,0.10,0.00,0.00
4,Tetraselmis,0.05,0.16,0.20,0.43,0.17,0.12
5,Thalassiosira_oceanica,0.00,0.00,0.05,0.30,0.65,0.44
6,Total,1.00,1.00,1.00,1.00,1.00,1.00

In [43]:
df_mixing_proportions.to_sql('mixing_proportions_validation', conn, index=False)

In [44]:
conn.commit()

In [45]:
conn.close()